
<br>
<br>
<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal"
data-bs-target="#exampleModal"
(click)="addClick()">
Add Details
</button>

<table class="table table-striped">
  <thead>
      <tr>
          <th>Name</th>
          <th>DateOfBirth</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Address</th>
          <th>MobileNo</th>
          <th>
           Options
          </th>
      </tr>
  </thead>
<tbody>
  <tr *ngFor= "let pd of  personalDetails">
    <td>{{pd.name}}</td>
    <td>{{pd.dateOfBirth}}</td>
    <td>{{pd.email}}</td>
    <td>{{pd.gender}}</td>
    <td>{{pd.address}}</td>
    <td>{{pd.mobileNo}}</td>
    <td>
      <button type="button" class="btn btn-light mr-1"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="editClick(pd)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </svg>
    </button>
    <button type="button" class="btn btn-light mr-1"
    (click)="deleteClick(pd.personId)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
    </svg>
  </button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> {{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 w-50 bd-highlight">
                  <div class="input-group mb-3">
                  <span class="input-group-text">Name</span>
                   <input type="text" class="form-control" [(ngModel)]= "name" value="fname" >
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">DateOf Birth</span>
                     <input type="date" class="form-control" [(ngModel)]="dateOfBirth">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Email</span>
                       <input type="text" class="form-control" [(ngModel)]="email">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">Gender</span>
                         <input type="text" class="form-control" [(ngModel)]="gender">
                        </div>
                        <div class="input-group mb-3">
                          <span class="input-group-text">Address</span>
                           <input type="text" class="form-control" [(ngModel)]="address">
                          </div>


                          <div class="input-group mb-3">
                            <span class="input-group-text">Mobile Number</span>
                             <input type="text" class="form-control" [(ngModel)]="mobileNo">
                            </div>
                            <div class="input-group mb-3">
                              <!-- <span class="input-group-text">IdentityProof</span>
                               <input type="text" class="form-control" > -->
                              </div>
                            </div>

                            </div>
                            <div class= "p-2 w-50 bd-highlight">
                                <img width="250px" height="250px"  [src]="PhotoPath+identityProof"/>
                                <input class="m-2 form-control" type="file" [(ngModel)]="identityProof" (change)="imageUpload($event)" >
                              </div>
                        </div>
                  <button type="button" (click)="createClick()" data-bs-dismiss="modal" *ngIf="personId==0" class="btn btn-primary">
                  Create
                  </button>
                  <button type="button" (click)="updateClick()" *ngIf="personId!=0" class="btn btn-primary" >
                  update
                  </button>

            </div>
          </div>
      </div>

